#Calculator_container {
    display: flex;
    flex-direction: column;
    background-color: rgb(102, 95, 95);
    width: fit-content;
    padding: 20px;
    align-items: center;
    margin: 10px auto;
}

.text {
    background-color: rgb(123, 133, 133);
    width: fit-content;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    font-size: 30px;
}

.calculator_row {
    margin: 5px auto;
}

.calculator_row button {
    width: 60px;
    height: 60px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin: 5px;
    background-color: rgb(208, 201, 214);

}

.calculator_row button:hover {
    background-color: rgb(129, 129, 192);
    cursor: pointer;

}

#display_area {
    background-color: aliceblue;
    height: 70px;
    width: 350px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 30px;
    overflow-x: scroll;


}